:root{
  --bg-color:#000;
  --primary:#2F243A;
  --text-color:#fff;
  --small-text-color:#ffffff81;

}

#root {
  color:var(--text-color);
  
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  padding: 1rem 2rem;
  border-bottom: 0.4px solid rgba(255, 255, 255, 0.204);
  position: fixed;
  width: 100%;
  height: 4.8rem;
  top: 0;
  backdrop-filter: blur(10px);
}

.nav-logo{
  font-size: 1.8rem;
  font-weight: 800;
}

.nav-list{
  display: flex;
  /* justify-content: space-around; */
  list-style-type: none;
  gap: 3rem;
  font-weight:500;

}

.nav-list li{
  cursor: pointer;
}

.main{
  display: flex;
  justify-content: center   ;
  
  margin-top: 4.8rem;
}

.center{
  display: flex;
  justify-content: center;
}

.main-section{
  width: 70%;
}
.button{
  margin: 1rem;
  border-radius: 0.2rem;
  border: 1px solid #ffffff36;
  background-color: #000;

}

.big-text{
  margin-top: 9rem;
  letter-spacing: -0.1rem;
}
.small-text{
  padding: 0 8rem;
  margin-top: 1rem;
  font-size: 1.3em;
  font-weight: 400;
  color: var(--small-text-color);
}
.menu-icon{
  display: none;
}

.button-white{
  background-color: var(--text-color);
  color: var(--bg-color);
}





/* NOTES LIST */
.note-section{
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 gap: 1rem;
 padding: 1rem 2rem;
 max-width: 1400px;
}
.note-box{
  
  height: 20vh;
  background-color: #2f2f2fad;
  padding: 1rem;
  border-radius: 1rem;
}
.note-heading{
  text-align: left;
  margin-bottom: 0.3rem;
}
.note-content{
  height: 70%;
  overflow-y:hidden;
  text-align: left;
}


/* SIGNIN PAGE */

.auth-form{
  display: flex inline;
  flex-direction: column;
  background-color: #1d1d1d;
  padding: 4rem 2.5rem;
  margin-top: 4rem; 
  text-align: left;
  border-radius: 0.5rem;
}

.auth-form label{
  float: left;
  width: 15rem;
}
.auth-form input{
    background-color: #1d1d1d;
    border: 0.5px solid #ffffff5c;
    padding: 0.5rem;
    border-radius: 0.4rem;
    margin: 0.2rem 0;
    

}

.auth-form button{
  margin: 1rem 0;
}

.auth-form h1{
  margin-bottom: 1rem;
}



@media screen and (max-width: 760px) {
  .nav-list{
    display: flex;
    flex-direction: column;
    position: absolute;
    top:4.8rem;
    z-index: 2;
    background-color: #000;
    width: 100%;
    padding: 2rem;
    right: -100% ;
    transition: 0.3s ease;
  }
  .nav-list.active{
    right: 0;
  }


  .menu-icon{
    display: block;
  }

  .small-text{
    padding: 0;
  }

  /* NOTE LIST */
  .note-section{
    grid-template-columns: repeat(2, 1fr);
  }

}

@media screen and (max-width:500px) {
  .note-section{
    grid-template-columns: 1fr;
  }


}